# Use the Google style in this project.
BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 90


---
Language:    	Cpp

UseTab: Never
SpaceBeforeCpp11BracedList: true
SeparateDefinitionBlocks: Always
Standard: c++20

BreakBeforeBinaryOperators: All

IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'
IncludeCategories:
- Regex:    '^(<(boost/|fmt/|range/|blend2d\.h|benchmark/|gtest/|gmock/|folly/|absl/))'
  Priority: 2
- Regex:    '^(<Q)'
  CaseSensitive:   true
  Priority: 3
- Regex:    '^<'
  Priority: 4
- Regex:    '^"'
  Priority: 1
  SortPriority: 0

