# Use the Google style in this project.
BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 90


---
Language:    	Cpp

UseTab: Never
SpaceBeforeCpp11BracedList: true
Standard: c++20

SeparateDefinitionBlocks: Always
# BreakBeforeBinaryOperators: NonAssignment 
AllowShortFunctionsOnASingleLine: Empty

IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'
IncludeCategories:
- Regex:    '^<(gtest/|gmock/)'
  Priority: 2
- Regex:    '^<(boost/|fmt/|range/|blend2d\.h|benchmark/|folly/|gsl/|ankerl/|glaze/|hb\.h>|hb-|gcem\.hpp|tl/expected|whereami\.h|zlib\.h>)'
  Priority: 3
- Regex:    '^<Q'
  CaseSensitive:   true
  Priority: 4
- Regex:    '^<'
  Priority: 5
- Regex:    '^"'
  Priority: 1
  SortPriority: 0


# Use GIT BASH and run:
#  FL="$(find "." | grep -E ".*(\.ino|\.cpp|\.c|\.h|\.hpp|\.hh)$")" && echo $FL
#  clang-format -i ...
# 
