---

# Checks: '-*,modernize-use-trailing-return-type'

# Checks: '
# -*,
# cppcoreguidelines-missing-std-forward
# '

HeaderFilterRegex: '.*'

Checks: '
-*,
clang-analyzer-*,
clang-diagnostic-*,

performance-*,
portability-*,
concurrency-*,
cppcoreguidelines-*,
modernize-*,
bugprone-*,
readability-*,

google-default-arguments,
google-explicit-constructor,
google-readability-avoid-underscore-in-googletest-name,
google-runtime-operator,

-readability-identifier-length,
-readability-redundant-access-specifiers,
-modernize-concat-nested-namespaces,

-readability-qualified-auto,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-readability-uppercase-literal-suffix,
'


# bugprone-move-forwarding-reference


# -cppcoreguidelines-avoid-magic-numbers,
# -readability-magic-numbers,
# -readability-identifier-length,
# -readability-convert-member-functions-to-static,
# -clang-analyzer-optin.cplusplus.UninitializedObject,
# -modernize-use-trailing-return-type,

