# Use the Google style in this project.
BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 90


---
Language:    	Cpp

UseTab: Never
SpaceBeforeCpp11BracedList: true
Standard: c++20

SeparateDefinitionBlocks: Always
# BreakBeforeBinaryOperators: NonAssignment 
AllowShortFunctionsOnASingleLine: Empty

IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'
IncludeCategories:
- Regex:    '^"pch\.h"$'
  Priority: -1
- Regex:    '^"(main_winui3/|MainWindow\.|App\.)'
  Priority: 2
- Regex:    '^"gui/'
  Priority: 3
- Regex:    '^"core_export/'
  Priority: 4
- Regex:    '^"core/'
  Priority: 5
- Regex:    '^<(gtest/|gmock/|catch2/)'
  Priority: 6
- Regex:    '^<(boost/|flux/|fmt/|range/|blend2d\.h|blend2d/|benchmark/|folly/|gsl/|ankerl/|glaze/|hb\.h>|hb-|gcem\.hpp|tl/expected|whereami\.h|zlib\.h>)'
  Priority: 7
- Regex:    '^<(winrt/|windows\.h|unknwn\.h|restrictederrorinfo\.h|hstring\.h|concurrent_queue\.h|wil/|dwmapi\.h|microsoft\.ui\.)'
  Priority: 8
- Regex:    '^<Q'
  CaseSensitive:   true
  Priority: 9
- Regex:    '^<'
  Priority: 10
- Regex:    '^"'
  Priority: 1
  SortPriority: 0


# Use GIT BASH and run:
#  FL="$(find "." | grep -E ".*(\.ino|\.cpp|\.c|\.h|\.hpp|\.hh)$")" && echo $FL
#  clang-format -i ...
# 
